@{
    ViewData["Title"] = "Home Page";
}
<div class="col-4">
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
        <div class="mb-3">
            <input type="file" name="files" class="form-control" multiple/>

        </div>
        <div class="mb-3">
            <input  type="submit" value="Upload Files" class="btn btn-primary"/>
        </div>
        <span class="text-success">
            @Html.Raw(ViewBag.Message)
        </spa>

    </form>
</div>
